header {
    background-image: url("./img/hospital-banner.png");
    height: 94vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 70% 60%
}

.header {
    text-align: center;
    padding-top: 20%;
}

.header h1, .header p {
    color: white;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 1.5em;
}

input {
    padding: 1em 5em;
}

::placeholder {
    text-align: center;
}